* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column; /* Makes form fields stack */
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid black;
    margin: 40px auto;
    transition: background-color 0.1s, transform 0.5s;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-wrapper {
    width:100%;
    display: flex;
    justify-content: center;
    gap:20px;
}
