*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    background-color: rgb(247, 247, 243);
    padding-left: 10px;
}
.row{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding:10px;
}
.search{
    align-items: center;
    border-radius: 3px;
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    padding:0px;
    background-color: rgb(249, 250, 251);
}
.search input{
  width: 400px;
  border: none;
  padding: 5px;
  margin: 0 10px;
}
.search img {
  cursor: pointer;
}
.logo{
    align-content: flex-start;
    position: sticky;
    width: 200px;
}
.support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.support p {
  font-size: 12px;
  margin: 0;
}

.phone-number {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

.user img, 
.like img{
    display:flex;
    margin-top: 20px;
    cursor: pointer;
}
.cart-select{
    margin:0%;
    border-color: rgb(247, 247, 243);
    width:100px;
    height:30px;
}
.all-select{
  margin: 0%;
  width:120px;
  height:30px;
}
input{
    width:500px;
    height: 30px;
}
.footer{
    padding: 10px;
    text-align:center;
    background-color: rgb(30, 86, 118);
    color:rgb(181, 143, 103);
    font-size: x-large;
    position: sticky;
}

@media only screen {
    
}
.section2{
    background-image:url('food-mart/images/background-pattern.jpg') ;
    padding-left: 10px;
}