.row {
    display: flex;
    justify-content: center;
}

.row div {
    padding: 20px;
    margin: 10px;
    background-color: orange;
}

.box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: teal;
    color: white;
    padding: 10px;
}

body {
    margin: 0;
}

header li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}

footer {
    background-color: silver;
    padding: 20px;
}