* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid black;
  margin: 40px auto;
  background-color: #f4f4f4;
  transition: background-color 0.1s, transform 0.5s;
}

select,
button {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: cadetblue;
  color: white;
  cursor: pointer;
}

.results {
  display: right;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  color: #333;
  flex-direction: column;
  width: 400px;
  border-radius: 30px;
  border: 2px solid black;
  margin: 40px auto;
  background-color: #b0d88a;
  transition: background-color 0.1s, transform 0.5s;
}
