*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.form {
    display: flex;
    flex-direction: column; /* Makes form fields stack */
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid black;
    margin: 40px auto;
    background-color: #b87070;
}
.form1{
    width:500px;
    height:100px;
    align-items: center;
    margin: 40px auto;
    background-color: aquamarine;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    height: fit-content;
    gap:20px;

}
